.advice {
  padding: 0 24px;
  @media (max-width: 1199px) {
    padding: 0 16px;
  }
  &__reload {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    text-transform: uppercase;
    margin-bottom: 8px;
    cursor: pointer;
    i {
      font-size: 14px;
    }
  }
  &__text {
    @media (max-width: 1199px) {
      font-size: 14px;
    }
  }
}