.cards {

}
.card {
  background-color: #ffffff;
  padding: 24px 24px 32px;
  border-radius: 6px;
  box-shadow: 0 4px 12px 0 rgba(52, 58, 64, 0.24);
  margin-bottom: 16px;
  border-left: 4px solid $c-blue;
  background-repeat: no-repeat;
  background-position: right 20px bottom 20px;
  background-image: url(../images/i-book.svg);
  @media (max-width: 1199px) {
    padding: 24px 16px;
    background-size: 64px auto;
  }
  @media (max-width: 575px) {
    padding: 24px 12px;
  }
  &.card-orange {
    background-color: $c-orange-bg;
    border-left-color: $c-orange;
    background-image: url(../images/i-flash.svg);
  }
  &.card-success {
    border-left-color: $c-teal;
    background-image: url(../images/i-success.svg);
  }
  &.card-current {
    background-color: $c-blue-bg;
    border-left-color: $c-blue;
    background-image: url(../images/i-book.svg);
  }
  &.card-noactive {
    border-left-color: $c-grey-dark;
    background-image: url(../images/i-lock.svg);
  }
  &__box {

  }
  &__top {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    text-transform: uppercase;
    margin-bottom: 8px;
    i {
      font-weight: normal;
      font-size: 14px;
    }
    .card-success & {
      color: $c-teal;
    }
    @media (max-width: 767px) {
      font-size: 10px;
    }
  }
  &__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 8px;
    @media (max-width: 1199px) {
      font-size: 18px;
      line-height: 24px;
    }
  }
  &__text {
    @media (max-width: 1199px) {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 24px;
    }
  }
  &__bottom {
    margin-top: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__time {
    margin-left: 16px;
    @media (max-width: 1199px) {
      font-size: 14px;
      line-height: 18px;
    }
    @media (max-width: 575px) {
      font-size: 12px;
    }
  }
}