.footer {
  background-color: #ffffff;
  border-top: 1px solid $c-grey;
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0 24px;
    @media (max-width: 991px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 24px 0;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    @media (max-width: 991px) {
      margin-bottom: 8px;
    }
    @media (max-width: 767px) {
      flex-direction: column;
    }
    a {
      color: #000000;
      & + a {
        margin-left: 32px;
        @media (max-width: 767px) {
          margin-left: 0;
        }
      }
      @media (max-width: 767px) {
        margin-bottom: 16px;
      }
      &:hover {
        text-decoration: none;
        color: $c-teal;
      }
    }
  }
  &__copyrights {
    @media (max-width: 991px) {
      font-size: 14px;
    }
  }
}