.header {
  background-color: white;
  margin-bottom: 24px;
  .navbar-brand {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    display: flex;
    align-items: center;
    padding: 24px 0;
    svg {
      margin-right: 16px;
    }
  }
  @media (max-width: 991px) {
    .navbar-toggler {
      display: flex;
      align-items: center;
      &.collapsed {
        .navbar-toggler-arrow:before {
          content: '\e802';
        }
      }
    }
  }
  .navbar-toggler-arrow:before {
    font-family: "testfont";
    content: '\e803';
  }
  .navbar-collapse {
    border-top: 1px solid $c-grey;
  }
  &__nav {
    border-bottom: 1px solid #E6E6E6;
  }
  &__hello {
    &--box {
      padding: 16px 0 24px 0;
      background-image: url(../images/bg-top.jpg);
      background-repeat: no-repeat;
      background-position: right 24px center;
      background-size: contain;
      @media (max-width: 991px) {
        background-image: none;
      }
      @media (max-width: 767px) {

      }
    }
    &--username {
      font-size: 32px;
      line-height: 38px;
      font-weight: 700;
      margin-bottom: 8px;
      @media (max-width: 991px) {
        font-size: 24px;
        line-height: 1.37;
      }
      @media (max-width: 767px) {

      }
    }
    &--text {
      line-height: 22px;
    }
  }
  &__profile {
    display: flex;
    align-items: center;
    @media (max-width: 991px) {
      background-color: $c-grey;
      border-radius: 6px;
      padding: 16px 8px;
      margin-bottom: 24px;
    }
    @media (max-width: 767px) {

    }
  }
  &__user {
    @media (max-width: 991px) {
      padding: 16px 0 18px;
      flex: 1;
      justify-content: center;
      border-right: 1px solid $c-grey-dark;
      padding: 8px 0;
    }
    @media (max-width: 767px) {

    }
  }
  &__username {

  }
  &__userpic {
    margin-left: 8px;
    height: 24px;
    border-radius: 50%;
    @media (max-width: 991px) {
    }
    @media (max-width: 767px) {

    }
  }
  &__lang {
    margin-left: 16px;
    @media (max-width: 991px) {
      flex: 1;
      margin-left: 0;
    }
    .dropdown-toggle {
      display: flex;
      align-items: center;
      color: #000000;
      -webkit-appearance: none;
      -moz-appearance: none;
      @media (max-width: 991px) {
        justify-content: center;
        padding: 8px 0;
      }
      @include hover-focus-active {
        text-decoration: none;
        color: $c-teal;
        svg {
          polygon {
            fill: $c-teal !important;
          }
        }
      }
      &:after {
        display: none;
      }
      svg {
        margin-left: 2px;
      }
    }
    .dropdown-menu {
      left: auto;
      right: 0;
    }
  }
}