.schedule {
  &__item {
    position: relative;
    &:before {
      position: absolute;
      background-color: #ffffff;
      content: '';
      bottom: -10px;
      left: 10px;
      width: calc(100% - 20px);
      height: 10px;
      box-shadow: 0 4px 12px 0 rgba(52, 58, 64, 0.24);
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      z-index: 1;
    }
    &:after {
      position: absolute;
      background-color: #ffffff;
      content: '';
      bottom: -20px;
      left: 20px;
      width: calc(100% - 40px);
      height: 10px;
      box-shadow: 0 4px 12px 0 rgba(52, 58, 64, 0.24);
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }
    &.open {
      &:before,
      &:after {
        display: none;
      }
    }
    &--box {
      position: relative;
      display: flex;
      width: 100%;
      box-shadow: 0 4px 12px 0 rgba(52, 58, 64, 0.24);
      border-radius: 6px;
      margin-bottom: 40px;
      overflow: hidden;
      z-index: 2;
      .open & {
        margin-bottom: 16px;
      }
    }
    &--img {
      background-color: $c-teal;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 212px;
      @media (max-width: 1199px) {
        padding: 16px;
        min-width: 128px;
        img {
          max-width: 100%;
        }
      }
      @media (max-width: 767px) {
        display: none;
      }
    }
    &--main {
      position: relative;
      background-color: #ffffff;
      padding: 20px 24px 32px;
      @media (max-width: 1199px) {
        padding: 20px 16px 24px;
      }
      @media (max-width: 767px) {
        font-size: 12px;
      }
    }
    &--top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
      @media (max-width: 1199px) {
        font-size: 14px;
      }
      @media (max-width: 575px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
    &--status {
      color: $c-teal;
      .error & {
        color: $c-red;
      }
      .warning & {
        color: $c-orange;
      }
    }
    &--deadline {
      .warning & {
        color: $c-orange;
      }
    }
    &--value {
      position: absolute;
      top: 0;
      left: 0;
      height: 4px;
      background-color: $c-teal;
      .error & {
        background-color: $c-red;
      }
      .warning & {
        background-color: $c-orange;
      }
    }
    &--title {
      font-size: 26px;
      font-weight: bold;
      line-height: 32px;
      margin-bottom: 8px;
      @media (max-width: 1199px) {
        font-size: 18px;
        line-height: 24px;
      }
    }
    &--text {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 32px;
      @media (max-width: 1199px) {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 24px;
      }
    }
    &--bottom {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .btn + .btn {
        margin-left: 16px;
        @media (max-width: 767px) {
          margin-left: 0;
          margin-top: 8px;
        }
      }
      @media (max-width: 767px) {
        align-items: flex-end;
      }
    }
    &--buttons {
      display: flex;
      @media (max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
    &--list {
      display: none;
      .open & {
        display: block;
        margin-bottom: 40px;
        padding: 0 32px;
        @media (max-width: 1199px) {
          padding: 0 16px;
        }
        @media (max-width: 767px) {
          padding: 0 8px;
          margin-bottom: 24px;
        }
      }
    }
    &--toggle {
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 50%;
      margin-left: auto;
      color: $c-blue;
      cursor: pointer;
      &:hover {
        background-color: $c-blue-bg;
      }
      .open & {
        background-color: $c-blue-bg;
        transform: rotate(180deg);
      }
    }
  }
}