.slider {
  margin-bottom: 40px;
  @media (max-width: 1199px) {
    margin-bottom: 24px;
  }
  &__list {
    box-shadow: 0 4px 12px 0 rgba(52, 58, 64, 0.24);
    border-radius: 6px;
    overflow: hidden;
  }
  &__item {
    width: 100%;
    &--box {
      display: flex;
    }
    &--img {
      background-color: $c-teal;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 212px;
      @media (max-width: 1199px) {
        padding: 16px;
        min-width: 128px;
        img {
          max-width: 100%;
        }
      }
      @media (max-width: 767px) {
        display: none;
      }
    }
    &--main {
      position: relative;
      background-color: #ffffff;
      padding: 20px 24px 32px;
      @media (max-width: 1199px) {
        padding: 20px 16px 24px;
      }
    }
    &__top {
      @media (max-width: 1199px) {
        font-size: 14px;
      }
    }
    &--value {
      position: absolute;
      top: 0;
      left: 0;
      height: 4px;
    }
    &--status {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      margin-bottom: 16px;
    }
    &--title {
      font-size: 26px;
      font-weight: bold;
      line-height: 32px;
      margin-bottom: 8px;
      @media (max-width: 1199px) {
        font-size: 18px;
        line-height: 24px;
      }
    }
    &--text {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 32px;
      @media (max-width: 1199px) {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 24px;
      }
    }
  }
  &__controls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 24px;
    @media (max-width: 1199px) {
      margin-top: 16px;
    }
    &--arrow {
      cursor: pointer;
      i {
        font-size: 20px;
      }
      &.slick-disabled {
        color: $c-grey;
      }
    }
    &--dots {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0 24px;
    }
    .slick-dots {
      display: flex;
      padding: 0;
      margin: 0;
      li {
        display: block;
        margin: 0 6px;
        &.slick-active {
          button {
            background-color: $c-teal;
          }
        }
      }
      button {
        display: block;
        padding: 0;
        margin: 0;
        width: 12px;
        height: 12px;
        border: none;
        border-radius: 50%;
        overflow: hidden;
        text-indent: -200px;
        background-color: $c-grey;
        cursor: pointer;
      }
    }
  }
}