.stats {
  margin-bottom: 32px;
  @media (max-width: 1199px) {
    margin-bottom: 24px;
  }
  &__box {
    background-color: #ffffff;
    border-radius: 6px;
    padding: 24px 24px 32px;
    box-shadow: 0 4px 12px 0 rgba(52, 58, 64, 0.24);
    @media (max-width: 1199px) {
      padding: 24px 16px;
    }
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    &--title {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
    }
    &--info {
      color: $c-grey;
      font-size: 14px;
    }
  }
  &__title {
    font-size: 26px;
    font-weight: bold;
    line-height: 32px;
    margin-bottom: 8px;
    @media (max-width: 1199px) {
      font-size: 18px;
      line-height: 24px;
    }
  }
  &__steps {
    display: flex;
    align-items: center;
    margin-left: -2px;
    margin-right: -2px;
    margin-bottom: 32px;
  }
  &__step {
    flex: 1;
    height: 4px;
    background-color: $c-grey;
    margin: 0 2px;
    &.active {
      background-color: $c-teal;
      .error & {
        background-color: $c-red;
      }
    }
  }
  &__diag {
    margin-bottom: 24px;
    .chart {
      position: relative;
      text-align: center;
      height: 200px;
      span {
        position: absolute;
        left: 0;
        width: 100%;
        font-size: 48px;
        font-weight: 500;
        line-height: 58px;
        padding-top: 70px;
      }
    }
  }
  &__bottom {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 16px;
    color: $c-teal;
    .error & {
      color: $c-red;
    }
    @media (max-width: 1199px) {
      font-size: 14px;
      line-height: 18px;
    }
  }
  &__dates {
    display: flex;
    align-items: flex-start;
    border-top: 1px solid $c-grey;
  }
  &__date {
    flex: 50% 0 0;
    padding: 8px 16px 16px;
    &--title {
      font-size: 12px;
      font-weight: 500;
      line-height: 20px;
      text-transform: uppercase;
      @media (max-width: 1199px) {
        font-size: 10px;
      }
    }
    &--value {
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
      @media (max-width: 1199px) {
        font-size: 16px;
        line-height: 22px;
      }
    }
    &:first-child {
      border-right: 1px solid $c-grey;
      padding-left: 0;
    }
  }
}