@import 'core/settings';
@import "external/bootstrap/bootstrap";
@import "external/slickjs/slick";

body {
	background: $c-page-bg;
	font: 400 16px/1.38 'Lato';
}
.main {
	padding-bottom: 40px;
	@media (max-width: 1199px) {
		padding-bottom: 32px;
	}
	@media (max-width: 767px) {
		padding-bottom: 16px;
	}
}

@import "modules/header";
@import "modules/footer";
@import "modules/slider";
@import "modules/stats";
@import "modules/advice";
@import "modules/cards";
@import "modules/schedule";