<aside class="aside error" role="log">
    <div class="stats">
        <div class="stats__box">
            <div class="stats__top">
                <div class="stats__top--title">Сложность</div>
                <div class="stats__top--info" data-toggle="tooltip" data-placement="bottom" title="Тест смогут пройти не только лишь все"><i class="icon-info-circled"></i></div>
            </div>
            <div class="stats__title">Начальный уровень</div>
            <div class="stats__steps">
                <div class="stats__step active"></div>
                <div class="stats__step"></div>
                <div class="stats__step"></div>
                <div class="stats__step"></div>
            </div>
            <div class="stats__diag">
                <partial src="_chart-red.html"></partial>
            </div>
            <div class="stats__bottom text-red"><i class="icon-info-circled"></i> Вы отстаете от плана</div>
            <div class="stats__dates">
                <div class="stats__date">
                    <div class="stats__date--title">Планируемая дата завершения</div>
                    <div class="stats__date--value">2 января<br>2019</div>
                </div>
                <div class="stats__date">
                    <div class="stats__date--title">Расчетная дата завершения</div>
                    <div class="stats__date--value">20 декабря<br>2018</div>
                </div>
            </div>
        </div>
    </div>
    <div class="advice d-none d-lg-block">
        <div class="advice__reload text-blue"><i class="icon-cw"></i> Полезный совет</div>
        <div class="advice__text">Модальность высказывания, несмотря на то, что все эти характерологические черты отсылают не к единому образу нарратора, традиционно вызывает пастиш.</div>
    </div>
</aside>