<div class="card card-orange">
    <div class="card__box">
        <div class="card__top"><i class="icon-doc"></i> Следующий урок модуля «Пароли и аккаунты»</div>
        <div class="card__title">Можно ли давать свой пароль другим людям?</div>
        <div class="card__text">Генеративная поэтика наблюдаема. Линеаризация мышления пространственно просветляет холодный цинизм. Ритм интегрирует парафраз.</div>
        <div class="card__bottom">
            <a href="#" class="btn orange">Начать урок</a>
            <div class="card__time"><i class="icon-clock"></i> 4 минуты</div>
        </div>
    </div>
</div>
