<div class="card card-noactive">
    <div class="card__box">
        <div class="card__top"><i class="icon-lock"></i> Урок 3</div>
        <div class="card__title">Можно ли давать свой пароль другим людям?</div>
        <div class="card__text">Генеративная поэтика наблюдаема. Линеаризация мышления пространственно просветляет холодный цинизм. Ритм интегрирует парафраз.</div>
    </div>
</div>