<div class="card card-success">
    <div class="card__box">
        <div class="card__top"><i class="icon-ok-circled"></i> Урок 1 пройден</div>
        <div class="card__title">Можно ли давать свой пароль другим людям?</div>
        <div class="card__text">Генеративная поэтика наблюдаема. Линеаризация мышления пространственно просветляет холодный цинизм. Ритм интегрирует парафраз.</div>
        <div class="card__bottom">
            <a href="#" class="btn blue-light">Пройти еще раз</a>
            <div class="card__time"><i class="icon-clock"></i> 4 минуты</div>
        </div>
    </div>
</div>
