<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="footer__box">
                    <div class="footer__nav">
                        <a href="#"><i class="icon-info-circled text-red"></i> Сообщить об ошибке</a>
                        <a href="#">Помощь</a>
                        <a href="#">Контакты</a>
                    </div>
                    <div class="footer__copyrights">© 1997−2018 Касперский Лаб</div>
                </div>
            </div>
        </div>
    </div>
</footer>