<header class="header" role="banner">
    <div class="header__nav">
        <div class="container">
            <nav class="navbar navbar-expand-lg" >
                <a class="navbar-brand d-lg-none" href="index.html">
                    <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="icon-home-green">
                                <g>
                                    <rect id="bounds" fill-rule="nonzero" x="0" y="0" width="16" height="16"></rect>
                                    <path d="M7.99950537,2 L0.5,7.31305201 L1.64950867,8.91069676 L3.05424388,7.91560353 L3.05424388,14 L12.9457561,14 L12.9457561,7.91560353 L14.3504913,8.91069676 L15.5,7.31305201 L7.99950537,2 Z M5.03175493,6.51324828 L7.99950537,4.41118744 L10.9682451,6.51324828 L10.9682451,12.0382728 L5.03175493,12.0382728 L5.03175493,6.51324828 Z" id="home" fill="#009981"></path>
                                </g>
                            </g>
                        </g>
                    </svg> Название сайта
                </a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-label="Открыть меню">
                    <span class="navbar-toggler-arrow"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar" role="navigation">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">
                                <svg class="d-none d-lg-inline-block" width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="icon-home-green">
                                            <g>
                                                <rect id="bounds" fill-rule="nonzero" x="0" y="0" width="16" height="16"></rect>
                                                <path d="M7.99950537,2 L0.5,7.31305201 L1.64950867,8.91069676 L3.05424388,7.91560353 L3.05424388,14 L12.9457561,14 L12.9457561,7.91560353 L14.3504913,8.91069676 L15.5,7.31305201 L7.99950537,2 Z M5.03175493,6.51324828 L7.99950537,4.41118744 L10.9682451,6.51324828 L10.9682451,12.0382728 L5.03175493,12.0382728 L5.03175493,6.51324828 Z" id="home" fill="#009981"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg> Домашняя страница <span class="sr-only">(текущий)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="schedule.html">Расписание</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Текущий уровень</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Библиотека знаний</a>
                        </li>
                    </ul>
                    <div class="header__profile">
                        <div class="header__user d-flex align-items-center">
                            <div class="header__username">Константин</div>
                            <img class="header__userpic" src="assets/images/userpic.jpg" alt="">
                        </div>
                        <div class="header__lang dropdown">
                            <a class="dropdown-toggle" type="button" id="lang-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="javascript:void(0)">
                                <span>RU</span>
                                <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="icon-dropdown-black">
                                            <g>
                                                <rect id="bounds" fill-rule="nonzero" x="0" y="0" width="16" height="16"></rect>
                                                <polygon id="dropdown-arrow" fill="#000000" points="12.1372875 4.5 8 8.72005336 3.86271246 4.5 2.5 5.88997332 8 11.5 13.5 5.88997332"></polygon>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="lang-menu" role="menu">
                                <a class="dropdown-item active" href="#">Русский</a>
                                <a class="dropdown-item" href="#">Українська</a>
                                <a class="dropdown-item" href="#">English</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="header__hello" role="heading">
        <div class="container">
            <div class="header__hello--box">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="header__hello--username">Добро пожаловать, Константин!</div>
                        <div class="header__hello--text">Модальность высказывания, несмотря на то, что все эти характерологические черты отсылают не&nbsp;к&nbsp;единому образу нарратора, традиционно вызывает пастиш.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
