<main class="main" role="main">
    <partial src="_slider.html"></partial>
    <div class="cards">
        <partial src="_card.html"></partial>
        <partial src="_card.html"></partial>
        <partial src="_card.html"></partial>
        <partial src="_card-orange.html"></partial>
    </div>
</main>
