<main class="main" role="main">
    <partial src="_schedule.html"></partial>
    <partial src="_schedule-warning.html"></partial>
    <partial src="_schedule-error.html"></partial>
    <partial src="_schedule.html"></partial>
</main>