<div class="schedule__item warning">
    <div class="schedule__item--box">
        <div class="schedule__item--img">
            <img src="assets/images/img-slider-bg.jpg" alt="">
        </div>
        <div class="schedule__item--main">
            <div class="schedule__item--value" style="width: 20%"></div>
            <div class="schedule__item--top">
                <div class="schedule__item--status"><i class="icon-info-circled"></i> Вы отстаете от плана</div>
                <div class="schedule__item--deadline">До сдачи модуля 2 дня</div>
            </div>
            <div class="schedule__item--title">Пароли и аккаунты: Начальный уровень</div>
            <div class="schedule__item--text">Модальность высказывания, несмотря на то, что все эти характерологические черты отсылают не к единому образу нарратора, традиционно вызывает пастиш. Аллегория уязвима. Лексика диссонирует конкретный метр.</div>
            <div class="schedule__item--bottom">
                <div class="schedule__item--buttons">
                    <a href="#" class="btn blue">Продолжить</a>
                </div>
                <div class="schedule__item--toggle js-schedule"><i class="icon-down-open"></i></div>
            </div>
        </div>
    </div>
    <div class="schedule__item--list">
        <partial src="_card-success.html"></partial>
        <partial src="_card-current.html"></partial>
        <partial src="_card-noactive.html"></partial>
        <partial src="_card-noactive.html"></partial>
        <partial src="_card-orange.html"></partial>
    </div>
</div>