<div class="slider">
    <div class="slider__list">
        <div class="slider__item">
            <div class="slider__item--box">
                <div class="slider__item--img">
                    <img src="assets/images/img-slider-bg.jpg" alt="">
                </div>
                <div class="slider__item--main">
                    <div class="slider__item--value bg-red" style="width: 65%"></div>
                    <div class="slider__item--status text-red"><i class="icon-info-circled"></i> Текущая задолженность</div>
                    <div class="slider__item--title">Пароли и аккаунты: Начальный уровень</div>
                    <div class="slider__item--text">Модальность высказывания, несмотря на то, что все эти характерологические черты отсылают не к единому образу нарратора, традиционно вызывает пастиш. Аллегория уязвима. Лексика диссонирует конкретный метр.</div>
                    <a href="#" class="btn red">Сдать задолженность</a>
                </div>
            </div>
        </div>
        <div class="slider__item">
            <div class="slider__item--box">
                <div class="slider__item--img">
                    <img src="assets/images/img-slider-bg.jpg" alt="">
                </div>
                <div class="slider__item--main">
                    <div class="slider__item--value bg-red" style="width: 65%"></div>
                    <div class="slider__item--status text-red"><i class="icon-info-circled"></i> Текущая задолженность</div>
                    <div class="slider__item--title">Пароли и аккаунты: Начальный уровень</div>
                    <div class="slider__item--text">Модальность высказывания, несмотря на то, что все эти характерологические черты отсылают не к единому образу нарратора, традиционно вызывает пастиш. Аллегория уязвима. Лексика диссонирует конкретный метр.</div>
                    <a href="#" class="btn red">Сдать задолженность</a>
                </div>
            </div>
        </div>
        <div class="slider__item">
            <div class="slider__item--box">
                <div class="slider__item--img">
                    <img src="assets/images/img-slider-bg.jpg" alt="">
                </div>
                <div class="slider__item--main">
                    <div class="slider__item--value bg-red" style="width: 65%"></div>
                    <div class="slider__item--status text-red"><i class="icon-info-circled"></i> Текущая задолженность</div>
                    <div class="slider__item--title">Пароли и аккаунты: Начальный уровень</div>
                    <div class="slider__item--text">Модальность высказывания, несмотря на то, что все эти характерологические черты отсылают не к единому образу нарратора, традиционно вызывает пастиш. Аллегория уязвима. Лексика диссонирует конкретный метр.</div>
                    <a href="#" class="btn red">Сдать задолженность</a>
                </div>
            </div>
        </div>
    </div>
    <div class="slider__controls">
        <div class="slider__controls--arrow slider__controls--prev"><i class="icon-angle-left"></i></div>
        <div class="slider__controls--dots">

        </div>
        <div class="slider__controls--arrow slider__controls--next"><i class="icon-angle-right"></i></div>
    </div>
</div>